
AlexeyProject.xcodeproj/xcuserdata/shumilov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlexeyProject.xcodeproj/project.pbxproj
AlexeyProject.xcodeproj/project.xcworkspace/xcuserdata/shumilov.xcuserdatad/UserInterfaceState.xcuserstate
AlexeyProject.xcodeproj/xcuserdata/shumilov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlexeyProject.xcodeproj/project.xcworkspace/xcuserdata/shumilov.xcuserdatad/UserInterfaceState.xcuserstate
AlexeyProject.xcodeproj/project.xcworkspace/xcuserdata/shumilov.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
