
.DS_Store
AlexeyProject.xcodeproj/project.xcworkspace/xcuserdata/shumilov.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
AlexeyProject.xcodeproj/project.xcworkspace/xcuserdata/shumilov.xcuserdatad/UserInterfaceState.xcuserstate
